streamlit==1.42.1
easyocr==1.7.2
pytesseract==0.3.13
opencv-python-headless==4.11.0.86
matplotlib==3.10.0
PyMuPDF==1.25.3
tensorflow-cpu==2.15.0
keras==2.15.0
keras-ocr==0.8.7
pandas==2.2.3
numpy==1.26.4